A szenzorhálózat N számú szenzorból áll.
    Pontosan 1 szenzor kérő típusú egy adott pillanatban
        A szenzorok váltják ezt a szerepet egymás között: 0, 1, .. N-1, 0
    Aki nem kérő típusú, az küldő típusú szenzor
A szenzorhálózat szenzorai tevékenységek között várakozás nélkül váltanak.
    Egy szenzor töltheti az akkumulátorát.
        A szenzor addig tölti az akkumulátorát, amíg tele nem lesz. 
        1 egységnyi töltést 1 időegység alatt tölt vissza a szenzor.
        Az akkumulátor teljes feltöltése után alapállapotba visszatér (tehát újra tevékenységet választ)
    Egy kérő típusú szenzor kérhet jelentést.
        Egy kérő típusú szenzor broadcast csatornán értesítés küld a jelentéskérésről.  
            A broadcast értesítés azonnal megtörténik.
            A broadcast értesítés 2 egységnyi töltést fogyaszt.
        Egy kérő típusú szenzor dedikált csatornákon fogadja az adatot.
            A válaszokra összesen 1 időegységet vár a szenzor.
            Egy válasz feldolgozása azonnal megtörténik.
            Egy válasz feldolgozása 1 egységnyi töltést fogyaszt.
            A beérkezett jelentések számát a kérő szenzor eltárolja.
        A válaszok feldolgozása után alapállapotba visszatér (tehát újra tevékenységet választ)
    Egy küldő típusú szenzor mérhet, és küldhet jelentést, ha kap kérést.
        A mérés 1 időegység alatt történik meg.
        A mérés 1 egység töltést fogyaszt.
        A mérés egy véletlen szám 0 és 1 közül.
        Egy küldő típusú szenzor kaphat jelentéskérést.
            A jelentéskérés broadcast csatornán keresztül érkezik.
            A jelentéskérés 1 egység töltést fogyaszt.
            A jelentéskérés azonnal megtörténik.
            A jelentéskérésre 1 időegységet vár a szenzor.
            A jelentéskérés után elküldi a mért adatot dedikált csatornán a kérő szenzornak.
                A jelentésküldés azonnal megtörténik.
                A jelentésküldés 1 egység töltést fogyaszt.
        A mért adat elküldése, vagy az időkeret letelte után alapállapotba visszatér (tehát újra tevékenységet választ)
Mindegyik szenzor rendelkezik B kapacitású akkumulátorral.
    Egy tevékenységhez csak akkor kezdhet hozzá egy szenzor, ha elég a töltöttsége.
    Amennyiben nem tud jelentéskérést fogadni a mérés után, a szenzor töltési tevékenységbe kezd.
    Akkor kezdhet egy szenzor tölteni, ha nincs teljesen feltöltve az akkumulátora.

    
    
Szerepeljen az adatátadás a modellben is.
Az akkumulátor feltöltése után a szenzor rögtön visszatér alapállapotba.
Akkor kezdhet adatot kérni, ha minden szenzortól tud választ is fogadni.
Akkor kezdhet mérni, ha el tudja sikeresen végezni.
Akkor fogadhat jelentéskérést mérés után, ha fogadni és aztán adatot küldeni is tud.
